.list-group-item {
    background-color: black;
    border: 2px solid black;
    color: white;
}
.sidebar-article-category {
    text-align: center;
    font-size: 12px;
    width: 125px;
    color: black;
    background-color: #ff6600;
    padding: 12px;
    margin-bottom: 10px;
}
.img-thumbnail {
    border: none !important;
    background-color: black;
    height: 150px;
}
.sidebar-description {
    color: #e6e6e6;;
}