.price-history-link {
    color: black;
    background-color: #ff6600;
    padding: 12px;
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.price-history-link:hover {
    text-decoration: none;
}
.navbar-brand {
    display: flex;
    align-items: center;
}
.fab {
    margin-left: 10px;
    color: #ff6600;
}
.bg-dark {
    background-color: black !important;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
}
.news-header-link {
    color: white;
    margin-right: 40px;
    font-size: 18px;
    display: flex;
    padding: 12px;
}
.about-header-link {
    color: white;
    margin-right: 40px;
    font-size: 18px;
    display: flex;
    padding: 12px;
}
.fa-sort-down {
    margin-left: 5px;
}