body {
    background-color: black;
}
button:hover {
   background-color: rgb(75,192,192) !important; 
   cursor: pointer;
}
button:focus {
    outline: none;
}
.history-group {
    margin-top: 50px;
}
.history-item {
    min-width: 125px;
}
.list-coin {
    display: flex;
    align-items: center; 
    margin-bottom: 0;
}

